@model Data

<form method="post" asp-action="RegisterUser">
    <label>Enter Name:</label>
    <input type="text" style="width:110px;" asp-for="@Model.Name" /><br />
    <label>Enter Address:</label>
    <input type="text" style="width:110px;" asp-for="@Model.Address" /><br />
    <label>Enter PhoneNo:</label>
    <input type="number" style="width:110px;" asp-for="@Model.PhoneNo" /><br />
    <label>Enter Email:</label>
    <input type="text" style="width:110px;" asp-for="@Model.Email" /><br />
    <label>Enter State:</label>
    <input type="text" style="width:110px;" asp-for="@Model.State" /><br />
    <label>Enter Approved status:</label>
    <input type="text" asp-for="@Model.Approved" /><br />
    <input style="margin-left:440px;" type="submit" value="Register">
</form>


